* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: linear-gradient(135deg, #181818, #383838);
  font-size: 1.4rem;
  color: #D4D4D4;
  font-family: sans-serif;
  position: relative;

  &.rtl {
    direction: rtl;
  }
}

a {
  display: block;
  color: var(--color-main);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

button {
  background: rgba(255, 255, 255, .1);
  border: solid 1px #D4D4D4;
  border-radius: .5rem;
  color: #D4D4D4;
  cursor: pointer;
  padding: 1rem 2rem;
}

select {
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  font-family: 'Twemoji Country Flags', sans-serif; /* Polyfill for windows.chrome country flags */
  padding: .2rem 1rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

/* Page header with title, lang select and social links */
header {
  align-items: center;
  border-top: solid 5px var(--color-main);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  height: 20rem;
  padding: var(--spacing);
  width: 100%;

  h1 {
    font-family: Tangerine 'Segoe UI', sans-serif;
    font-size: 10rem;
    font-weight: normal;

    a {
      color: inherit;
      font-size: inherit;
      text-decoration: none;
    }
  }

  /* Lang select and artist social interaction */
  .interaction-wrapper {
    align-items: center;
    display: flex;

    label {
      font-size: 1.2rem;
      font-style: italic;
      margin-right: 1rem;
    }

    select {
      margin-right: var(--spacing);
      position: inherit;
    }
  
    .social-shortcuts {
      display: flex;
      justify-content: center;
  
      a, img {
        margin-bottom: 0;
      }
  
      img {
        height: var(--spacing-large);
        margin: 0 var(--spacing-tiny);

        transition: all var(--transition);

        &:active,
        &:focus,
        &:hover {
          transform: rotate(-5deg);
        }
      }
    }
  }
}
/* Website navigation amongst pages */
nav {
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  width: 100%;

  a {
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: var(--spacing) var(--spacing-large);
    text-decoration: none;
    text-transform: uppercase;

    transition: all var(--transition);

    &:active,
    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, .3) !important;
    }

    &.active {
      background-color: rgba(255, 255, 255, .1);
    }
  }
}
/* Main section global styles */
main {
  background: linear-gradient(180deg, var(--gradientStart) 0%, var(--gradientEnd) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h2 {
    font-style: italic;
    max-width: 66%;
    padding: var(--spacing-large) var(--spacing);
    text-align: center;

    a {
      color: inherit;
      display: inline;
      font-size: inherit;

      transition: all var(--transition);

      &:active,
      &:focus,
      &:hover {
        color: var(--color-main)
      }
    }
  }
}
/* Page footer */
footer {
  border-bottom: solid 5px var(--color-main);
  padding: var(--spacing-large) 0;
  text-align: center;
  width: 100%;

  a {
    margin-bottom: 0;
    text-decoration: none;
    transition: all var(--transition);

    &:active,
    &:focus,
    &:hover {
      transform: scale(1.05);
    }

    img {
      height: auto;
      min-width: 20rem;
      max-width: 30rem;
      width: 33%;
    }
  }

  a.info-modal {
    color: inherit;
    cursor: pointer;
    transition: all var(--transition);

    &:active,
    &:focus,
    &:hover {
      color: var(--color-main);
    }
  }
}
/* Correcting layout width with scrollbar on FF */
@-moz-document url-prefix() {
  header, nav, main, footer {
    width: calc(100% - var(--default-scroll-size));    
  }
}

.loading-overlay {
  background-color: black;
  cursor: progress;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  transition: all var(--transition-long);

  &::before {
    content: '';
    background-color: var(--color-main);
    border-radius: .5rem;
    height: var(--spacing-large);
    left: calc(50% - var(--spacing));
    position: absolute;
    top: 50%;
    width: var(--spacing-large);

    animation: rotate-plane 1.2s infinite ease-in-out;
  }
}
