@media (max-width: 1800px) {
  .modal-overlay .modal {
    &.modal-release {
      .modal-content {
        /* Substract button height and title height */
        height: calc(100% - 4rem - (2 * var(--spacing)) - 2.8rem);
      }
    }
  }

  body.biography {
    main { 
      .biography-wrapper {
        max-width: 85%;
      }
    }
  }

  body.programs {
    main {
      .programs-wrapper {
        max-width: 85%;
      }
    } 
  }

  body.medias {
    main {
      .medias-wrapper {
        grid-template-columns: repeat(auto-fill, 40rem);
      }
    }
  }
}

@media (max-width: 1400px) {
  .modal-overlay .modal {
    &.modal-release {
      height: 100%;

      .release-wrapper {       
        align-items: start;
 
        .release-container {
          margin-left: var(--spacing);

          .release-info {
            padding: var(--spacing) 0;
          }

          .release-links {
            grid-gap: var(--spacing-tiny);
            grid-template-columns: repeat(auto-fill, 15rem);
            padding-top: var(--spacing);
            padding-bottom: 0;

            .link {
              padding: var(--spacing-tiny);
              margin-bottom: .5rem;

              img {
                margin: 0 var(--spacing-tiny);
              }
            }
          }
        }
      }
    }
  }

  body.biography {
    main { 
      .biography-wrapper {
        grid-gap: var(--spacing);
        grid-template-columns: 1fr;
        max-width: 66%;
      }
    }
  }

  body.discography {
    .releases-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  body.medias {
    main {
      .medias-wrapper {
        max-width: 90%;
      }
    }
  }

  body.links {
    main {
      .links-wrapper {
        max-width: 90%;        
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 5rem;

      a {
        margin-bottom: 0;
      }
    }
  }

  nav {
    display: inherit;
    text-align: center;

    a {
      padding: var(--spacing-small);
    }
  }

  .modal-overlay .modal {
    &.modal-info {
      max-width: 90%;
    }

    &.modal-release {
      .modal-content {
        height: calc(100% - 9.8rem - var(--spacing)*2);        
      }

      .release-wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
        width: calc(100% - var(--default-scroll-size));

        .release-cover {
          width: 100%;
        }

        .release-container {
          margin: 0;
          width: 90%;

          .release-info {
            padding: var(--spacing) 0;
            text-align: center;

            p {
              text-align: center;              
            }
          }

          .release-links {
            grid-gap: var(--spacing-tiny);
            padding-top: var(--spacing);
            padding-bottom: 0;

            .link {
              margin-bottom: .5rem;
            }
          }
        }
      }
    }
  }

  body.biography {
    main {
      h2 {
        max-width: 100%;
      }
  
      .biography-wrapper {
        max-width: 90%;
        padding: var(--spacing);
  
        .image-container .photo-select {
          margin-top: 0;
        }
      }
    }
  }

  body.programs {
    main {
      .programs-wrapper {
        max-width: 90%;

        .event {
          grid-template-columns: 1fr;
        }
      }
    } 
  }

  body.discography {
    h2 {
      max-width: 100%;
    }

    .releases-wrapper {
      grid-template-columns: 1fr;
    }
  }

  body.medias {
    main {
      .medias-wrapper {
        grid-template-columns: repeat(auto-fill, 30rem);

        h2 {
          font-size: 1.6rem;
        }
      }
    }
  }

  body.links {
    main {
      .links-wrapper {
        max-width: 100%;        
      }
    }
  }

  body.error-404 {
    main {
      padding: var(--spacing-large) var(--spacing);

      h1 {
        font-size: 6rem;
      }
      
      h2 {
        font-size: 2rem;
        max-width: 90%;
        padding: var(--spacing) 0;
      }

      img {
        max-width: 90%;
      }
    }
  }
}

@media (max-width: 500px) {
  body.discography {
    .releases-wrapper {
      .release {
        img {
          width: 17rem;
        }
      }
    }
  }
}
