@media (max-width: 1800px) {
  .modal-overlay .modal {
    &.modal-release {
      .modal-content {
        /* Substract button height and title height */
        height: calc(100% - 4rem - (2 * var(--spacing)) - 2.8rem);
      }
    }
  }
}

@media (max-width: 1400px) {
  body {
    h2 {
      max-width: 80%;
    }

    main {
      div[class$="wrapper"]:not(.scrollbar-wrapper) {
        max-width: 80%;
      }
    }
  }

  .modal-overlay .modal {
    &.modal-release {
      .release-wrapper {       
        align-items: start;
 
        .release-container {
          margin-left: var(--spacing);

          .release-info {
            padding: var(--spacing) 0;
          }

          .release-links {
            grid-gap: var(--spacing-tiny);
            grid-template-columns: repeat(auto-fill, 15rem);
            padding-top: var(--spacing);
            padding-bottom: 0;

            .link {
              padding: var(--spacing-tiny);
              margin-bottom: .5rem;

              img {
                margin: 0 var(--spacing-tiny);
              }
            }
          }
        }
      }
    }
  }

  body.biography {
    main { 
      .biography-wrapper {
        grid-gap: var(--spacing);
        grid-template-columns: 1fr;
      }
    }
  }

  body.links {
    main {
      .links-wrapper {
        max-width: 90%;        
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 5rem;

      a {
        margin-bottom: 0;
      }
    }
  }

  nav {
    display: inherit;
    text-align: center;

    a {
      padding: var(--spacing-small);
    }
  }

  body {
    h2 {
      max-width: 90%;
      padding: var(--spacing-large) 0;
    }

    main {
      div[class$="wrapper"]:not(.scrollbar-wrapper) {
        max-width: 90%;

        h2 {
          font-size: 1.6rem;
        }
      }
    }
  }

  body.biography {
    main { 
      .biography-wrapper { 
        .image-container .photo-select {
          margin-top: 0;
        }
      }
    }
  }

  body.programs {
    main {
      .programs-wrapper {
        .event {
          grid-template-columns: 1fr;
        }
      }
    } 
  }

  body.discography {
    main {
      .releases-wrapper {
        .release {
          width: calc(50% - var(--spacing));
  
          img {
            aspect-ratio: 1 / 1;
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }

  body.medias {
    main {
      .medias-wrapper {
        column-gap: var(--spacing);
        row-gap: var(--spacing);

        .media {
          width: calc(50% - var(--spacing));          
        }
      }
    }
  }

  body.links {
    main {
      .links-wrapper {
        .link {
          max-width: 15rem;
          padding: var(--spacing-small);

          img {
            height: 4rem;
          }

          h1 {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  body.error-404 {
    main {
      padding: var(--spacing-large) var(--spacing);

      h1 {
        font-size: 6rem;
      }
      
      h2 {
        font-size: 2rem;
        max-width: 90%;
        padding: var(--spacing) 0;
      }

      img {
        max-width: 90%;
      }
    }
  }

  .modal-overlay .modal {
    &.modal-info {
      max-width: 90%;
    }

    &.modal-release {
      height: 100%;

      .modal-content {
        height: calc(100% - 9.8rem - var(--spacing)*2);
      }

      .release-wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
        width: calc(100% - var(--default-scroll-size));

        .release-cover {
          width: 100%;
        }

        .release-container {
          margin: 0;
          width: 90%;

          .release-info {
            padding: var(--spacing) 0;
            text-align: center;
            width: 100%;

            h2 {
              padding: 0;
              max-width: 100%;
              width: 100%;
            }

            p {
              text-align: center;              
            }
          }

          .release-links {
            grid-gap: var(--spacing-tiny);
            padding-top: var(--spacing);
            padding-bottom: 0;
            width: 100%;

            .link {
              margin-bottom: .5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  body.discography {
    main {
      .releases-wrapper {
        column-gap: var(--spacing);
        row-gap: var(--spacing);
  
        .release {
          width: 100%;
        }
      }      
    }
  }

  body.medias {
    main {
      .medias-wrapper {
        row-gap: var(--spacing);

        .media {
          width: 100%;          
        }
      }
    }
  }

  body.links {
    main {
      .links-wrapper {
        .link {
          max-width: calc(50% - var(--spacing));
        }
      }
    }
  }
}
