/* Global variable definition */
:root {
  --mg-lg: 3.6rem;
  --mg: 2.6rem;
  --transition: .2s;

  --mainColor: #5678d4;
  --gradientStart: #373f47;
  --gradientEnd: #708cca;
  --imageFilter: invert(27%) sepia(28%) saturate(5861%) hue-rotate(138.3deg) brightness(120%) contrast(70%);
}
