/* Page content */
.biography-wrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  border-radius: .5rem;
  display: grid;
  grid-gap: var(--spacing-large);
  grid-template-columns: 1fr 1fr;
  max-width: 66%;
  padding: var(--spacing-large);

  .image-container {
    img {
      border-radius: .5rem;
      box-shadow: 0 0 .5rem rgba(255, 255, 255, .3);
      width: 100%;

      transition: all var(--transition);

      &:active,
      &:focus,
      &:hover {
        transform: scale(1.01);
      }
    }

    p {
      font-style: italic;
      margin-top: var(--spacing-tiny);
      text-align: right;
    }

    .photo-select {
      display: flex;
      justify-content: center;
      height: 1.4rem;
      margin-top: var(--spacing);
      user-select: none;

      span {
        background-color: rgba(255, 255, 255, .5);
        border-radius: 50%;
        cursor: pointer;
        margin: 0 var(--spacing-tiny);
        width: 1.4rem;

        &.active {
          background-color: white;
        }
      }
    }
  }

  .bio-container {
    text-align: justify;

    p {
      margin-bottom: var(--spacing);
      text-indent: var(--spacing);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    sup {
      font-size: 80%;
    }
  }
}
