/* Page content */
.biography-wrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  border-radius: .5rem;
  display: grid;
  grid-gap: var(--spacing-large);
  grid-template-columns: 1fr 1fr;
  max-width: 66%;
  padding: var(--spacing-large);

  .image-container {
    img {
      border-radius: .5rem;
      box-shadow: 0 0 .5rem rgba(255, 255, 255, .3);
      height: auto;
      width: 100%;

      transition: all var(--transition);

      &:active,
      &:focus,
      &:hover {
        transform: scale(1.005);
      }
    }

    p {
      font-style: italic;
      margin-top: var(--spacing-tiny);
      text-align: right;
    }

    .photo-select {
      display: flex;
      justify-content: center;
      height: 1.4rem;
      margin-top: var(--spacing);
      user-select: none;

      a {
        background-color: rgba(255, 255, 255, .5);
        border-radius: 50%;
        color: transparent;
        cursor: pointer;
        height: 1.4rem;
        margin: 0 var(--spacing-tiny);
        overflow: hidden;
        text-decoration: none;
        width: 1.4rem;

        transition: all .5s;

        &.active {
          background-color: white;
        }
      }
    }
  }

  .bio-container {
    text-align: justify;

    p {
      margin-bottom: var(--spacing);
      text-indent: var(--spacing);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    sup {
      font-size: 80%;
    }
  }
}

.whats-up-wrapper {
  height: 25rem;
  margin-top: var(--spacing-large);
  max-width: 66%;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  width: 100%;

  .news {
    color: white;
    display: inline-block;
    height: 25rem;
    margin: 0;
    margin-right: var(--spacing);
    max-width: 850px;
    text-decoration: none;
    width: auto;

    &:last-of-type {
      margin: 0;
    }
  }

  .news-content {
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    border-radius: .5rem;
    color: inherit;
    cursor: pointer;
    display: flex;
    padding: var(--spacing);
    width: fit-content;
    white-space: initial;

    img {
      border-radius: .5rem;
      height: calc(25rem - (2 * var(--spacing)));
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 425px;
      padding-left: var(--spacing);

      h3 {
        margin-bottom: var(--spacing-small);
        text-align: center;
      }

      p {
        color: white;
        display: inline-block;
        margin: 0;
        margin-bottom: var(--spacing-small);
      }

      a {
        margin: 0;
      }
    }
  }
}
