.medias-wrapper {
  column-gap: var(--spacing-large);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 66%;
  row-gap: var(--spacing-large);
  width: 100%;

  .media {
    background-color: rgba(0, 0, 0, .1);
    border-radius: .5rem;
    cursor: pointer;
    padding: var(--spacing);
    text-align: center;
    width: calc(50% - var(--spacing-large));

    transition: all var(--transition);

    &:active,
    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    iframe {
      aspect-ratio: 16 / 9;
      border-radius: .5rem;
      box-shadow: 0 0 .5rem rgba(255, 255, 255, .1);
      width: 100%;
    }

    h2 {
      max-width: inherit;
      padding: var(--spacing);
      width: 100%;
    }

    h3 {
      font-style: italic;
    }
  }
}
