.programs-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 66%;
  row-gap: var(--spacing-large);
  width: 100%;

  .event {
    background-color: rgba(0, 0, 0, .1);
    border-radius: .5rem;
    color: inherit;
    cursor: pointer;
    display: grid;
    grid-gap: var(--spacing-large);
    grid-template-columns: 22rem 1fr;
    margin: 0;
    padding: var(--spacing-large);
    text-decoration: none;
    width: 100%;

    transition: all var(--transition);

    &:active,
    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    img {
      height: auto;
      width: 100%;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: var(--spacing-large);
      text-align: center;
    }

    p  {
      text-align: justify;
      text-indent: var(--spacing);
    }
  }
}
