@media (max-width: 1000px) {
  .todo {
    display: block;
  }  
}

@media (max-width: 870px) {
  .todo {
    display: block;
  }  
}

@media (max-width: 512px) {
  .todo {
    display: block;
  }  
}

@media (max-height: 740px) {
  .todo {
    display: block;
  }  
}

@media (max-height: 630px) {
  .todo {
    display: block;
  }  
}

@media (max-height: 512px) {
  .todo {
    display: block;
  }  
}
