/* Define custom font */
@font-face {
  font-family: 'Tangerine';
  src: url('../../assets/font/Tangerine_Regular.ttf') format('truetype'),
    url('../../assets/font/Tangerine_Regular.woff') format('woff');
}

@import 'utils/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: linear-gradient(135deg, #181818, #383838);
  font-size: 1.4rem;
  color: #D4D4D4;
  font-family: sans-serif;
}

a {
  display: block;
  color: var(--mainColor);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

button {
  background: rgba(255, 255, 255, .1);
  border: solid 1px #D4D4D4;
  border-radius: .5rem;
  color: #D4D4D4;
  cursor: pointer;
  padding: 1rem 2rem;
}

select {
  padding: .2rem 1rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

@import 'page/main';
@import 'utils/modal';
@import 'utils/responsive';
